@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins&display=swap");

:root {
  --background-color: #fafafa;
  --primary-font-color: #000000;
  --secondary-font-color: #a9a9a9;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
  grid-template-areas:
    "header header header"
    "container container container"
    "footer footer footer";
  max-width: 900px;
  margin: 35px auto;
  background: var(--background-color);
}

header {
  grid-area: header;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left {
  padding: 2px;
}

.right {
  padding: 2px 0;
}

.title {
  color: var(--primary-font-color);
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.045em;
  padding: 8px;
}

.sub-title {
  color: var(--primary-font-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  padding: 2.5px;
}

.description {
  color: var(--primary-font-color);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  padding: 2.5px;
}

#container {
  grid-area: container;
  margin-top: 60px;
  display: grid;
  grid-template-areas:
    "A B C"
    "D E F";
  grid-row-gap: 1rem;
  grid-column-gap: 3.5rem;
}

.team {
  display: flex;
  margin: 5px;
  padding: 5px;
}

.person-two,
.person-five {
  margin-top: 100px;
}

.person-one {
  grid-area: A;
}

.person-two {
  grid-area: B;
}

.person-three {
  grid-area: C;
}

.person-four {
  grid-area: D;
}

.person-five {
  grid-area: E;
}

.person-six {
  grid-area: F;
}

.pic-name img {
  border-radius: 10px;
  height: 35vh;
}

.name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.designation {
  font-family: "PT Serif", serif;
  font-size: 12px;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  padding-left: 5px;
}

footer {
  grid-area: footer;
  text-align: center;

  color: var(--secondary-font-color);
  margin: 50px 0 0 0;
}

.profile-link {
  color: var(--secondary-font-color);
  text-decoration: none;
}

/* ---- Mobile Viewport ---- */

@media (min-width: 320px) and (max-width: 415px) {
  body {
    max-width: 375px;
  }

  header {
    flex-direction: column;
  }

  .left {
    margin: 0 0 15px 0;
    padding: 0;
  }

  .right {
    margin: 0;
  }

  .sub-title {
    padding: 0 13px;
    margin-bottom: 7px;
  }

  .description {
    font-size: 14px;
    padding: 0 14px;
  }

  #container {
    display: grid;
    grid-template-areas:
      "A B"
      "C D"
      "E F";
    grid-row-gap: 0.3rem;
    grid-column-gap: 0.3rem;
    margin-top: 20px;
  }

  .person-two,
  .person-four,
  .person-six {
    margin-top: 50px;
  }

  .person-five {
    margin: 0;
  }

  .pic-name img {
    border-radius: 4px;
    height: 20vh;
  }

  .name {
    font-size: 14px;
    line-height: 21px;
  }

  .designation {
    font-size: 10px;
    padding-left: 2.5px;
  }

  footer {
    margin: 30px 0 0 0;
  }
}
